*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
*.fls
*.fdb_latexmk
*.pdf
*.gz
seminar_test/venv/
seminar_test/__pycache__/
seminar_test/*.png
seminar_test/data.txt
BOM/*.aux
BOM/*.log
BOM/*.pdf
